<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="menu">
  	<insert id ="insertMenu" paramterType="com.kh.app10.menu.model.vo">
  		INSERT INTO MENU(MENU , PRICE) 
  		VALUES(?,?)
  	</insert>
  
  </mapper>
